<header id="top">
  <div class="wrapper">
    <!-- Title/Logo - can use text instead of image -->
    <div id="title"><img src="/images/logo.png" alt="Administry"><!--<span>Administry</span> demo--></div>
    <!-- Top navigation -->
    <div id="topnav">
			欢迎您： <b><%=session[:login_name]%></b>
      <span>|</span> <a href="/users/logout">退出</a><br>
    </div>
    <!-- End of Top navigation -->
    <!-- Main navigation -->
    <nav id="menu">
      <ul class="sf-menu sf-js-enabled sf-shadow">
        <li><a href="/dashboards">动态</a></li>
        <li><a href="/articles">文章管理</a></li>
        <li><a href="/forums">版块管理</a></li>
        <li><a href="/users">用户管理</a></li>	
      </ul>
    </nav>
  </div>
</header>