<% a = Forum.find_by_code(code).articles(:order=>"create_at desc",:limit=>"8") %>
<div class="tl"></div>
<div class="tr"></div>
<div class="tm">
  <div class="moreR"><%=link_to("更多 > >",forums_homes_path(Forum.find_by_code(code)))%></div>
  <span class="tt"><%= Forum.find_by_code(code).name %></span>
</div>
<div class="wrapper">
  <div class="mm">
    <ul class="nl">
      <%a.each do |article|%>
        <li>
          <%=link_to article.title,articles_homes_path(article),:tager=>"_blank"%>
        </li>
<%end%>
      </ul>
    </div>
  </div>